<html>
	<head>
		<title>{{title}}</title>
		<!-- CSS only -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.css"
		      rel="stylesheet" crossorigin="anonymous">
	</head>
	<body class="container">
		<h1 class="display-6 my-2">{{title}}</h1>
		<div class="border border-primary p-3 my-3">
			{% set v1 = value * 1.08 %}
			{% set v2 = value * 1.1 %}
			<p class="my-2">value: {{ value }}</p>
			<p class="my-2">value1: {{ value ~ " * 1.08 = " ~ v1 }}</p>
			<p class="my-2">value2: {{ value ~ " * 1.1 = " ~ v2 }}</p>
		</div>
	</body>
</html>
